main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}

:root {
  --primary: #43A8DE;
  --secondary: #9c9ef0;
  --tertiary: #7400BB;
  --quarternary: #80FFDB;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
}

.navie-link:hover {
  color: #FF80BD;
}
.bg-color {
  background-color: var(--secondary);
  font-weight: bold;
}
.error {
  color: var(--error);
}

.logo-text {
  color: var(--quarternary);
}
.light-text {
  color: var(--light);
}
.dark-text {
  color: var(--secondary);
}
.tertiary-bg{
  background-color: var(--secondary);
}

.border_{
  border: 3px solid var(--quarternary);
  padding: 1px;
  outline: none;
  background-color: rgba(128, 255, 219, .25);
}

.icon-container {
  width: 40%;
}

.set-width {
  width: 1280px;
  max-width: 1200px;
}

.my_button {
  padding: 10px;
  border: 1px solid lightgray;
  color: var(--secondary);
  margin: 3px;
  border-radius: 10%;
}

.modalBackdrop {
	background: rgba(0, 0, 0, .65);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}
.modalBackground {
  background: rgba(32, 5, 61, 0.738);
}